{
    "installed": {
        "client_id": "XXXXXXXXXXXXXXX.apps.googleusercontent.com",
        "project_id": "YOUR_PROJECT_ID",
        "auth_uri": "...",
        "token_uri": "...",
        "auth_provider_x509_cert_url": "...",
        "client_secret": "YOUR_SECRET",
        "redirect_uris": [
            "http://localhost"
        ]
    }
}
