package dev.unafi.qrtidy

object SecretConfig {// 【重要】ここにNotionから取得した内部インテグレーションシークレットとNotionのデータベースID(32バイト)を貼り付けてください
const val NOTION_API_KEY = "ntn_XXXXXX...."
    const val DATABASE_ID_HUKURO = "YYYYYY....(32)"
    const val DATABASE_ID_HAKO = "ZZZZZ...(32)"
}
